@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Lato-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Lato-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "Mansalva";
  font-style: normal;
  src: url("/fonts/Mansalva-Regular.ttf") format("opentype");
}
